<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="fragment" content="!" />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Vue</title>

  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <!-- Optional theme -->
  <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
  <!-- Google Fonts -->
  <!-- GOOGLE FONT -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-loading-bar/build/loading-bar.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/angular/angular-csp.css">

  <!-- Basic Styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

  <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.css">

  <!-- Stylus CSS -->
  <link href="/stylesheets/styles.css" rel="stylesheet">

  <% if (env === 'development') { %>

  <script src="//localhost:35729/livereload.js"></script>
  <script type="text/javascript">
    Error.stackTraceLimit = Infinity;
  </script>

  <% } %>
</head>
<body id="ng-app" ng-app="app">

  <aside  id="left-panel" ng-include="'templates/aside.html'" scope="" onload=""></aside>
  <div    id="main" role="main">
    <div id="ribbon">

      <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">

      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:
       -->

      <span class="ribbon-button-alignment">
        <span class="btn btn-ribbon transparent hidden-xs"><i class="fa-grid"></i>Users that</span>
        <span class="btn btn-ribbon hidden-xs"><i class="fa-grid"></i>yolo</span>
        <span class="btn btn-ribbon hidden-xs"><i class="fa-plus"></i>for food</span>
        <span class="btn btn-ribbon transparent hidden-xs"><i class="fa-grid"></i>in the</span>
        <span class="btn btn-ribbon"><i class="fa-search"></i> <span class="hidden-mobile">last week</span></span>
      </span>

      <!-- collapse menu button -->
      <span class="ribbon-button-alignment pull-right">
        <!-- logout button -->
        <div id="logout" class=" btn btn-ribbon transparent pull-right">
          <span> <a href="#" title="Sign Out" style="color:white"><i class="fa fa-sign-out"></i> Sign out</a> </span>
        </div>
      </span>
      <!-- end logout button -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content" ng-view autoscroll="true">
      Loading...
    </div>


  </div>


  <footer>
      &copy; 2014
  </footer>

  <div id="fb-root"></div>
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <!-- BOOTSTRAP JS -->
  <script src="js/bootstrap/bootstrap.min.js"></script>

  <!-- CUSTOM NOTIFICATION -->
  <script src="js/notification/SmartNotification.min.js"></script>

  <!-- JARVIS WIDGETS -->
  <script src="js/smartwidgets/jarvis.widget.min.js"></script>

  <!-- EASY PIE CHARTS -->
  <script src="js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

  <!-- SPARKLINES -->
  <script src="js/plugin/sparkline/jquery.sparkline.min.js"></script>

  <!-- JQUERY VALIDATE -->
  <script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>

  <!-- JQUERY MASKED INPUT -->
  <script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>

  <!-- JQUERY SELECT2 INPUT -->
  <script src="js/plugin/select2/select2.min.js"></script>

  <!-- JQUERY UI + Bootstrap Slider -->
  <script src="js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

  <!-- browser msie issue fix -->
  <script src="js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

  <!-- SmartClick: For mobile devices -->
  <script src="js/plugin/smartclick/smartclick.js"></script>

  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="/bower_components/angular-bindonce/bindonce.js"></script>
  <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>

  <!-- Angular scripts -->
  <script src="/javascripts/scripts.js"></script>

  <% if (env === 'development') { %>

  <script>
    angular.module('app')

  </script>

  <% } else if (env === 'staging') { %>

  <script>
    angular.module('app')

  </script>


  <% } else { %>

  <script>
    angular.module('app')
  </script>

  <% } %>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>
