<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="fragment" content="!" />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Vue</title>

  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <!-- Optional theme -->
  <link href="/stylesheets/bootstrap-theme.css" rel="stylesheet">
  <!-- Google Fonts -->
  <!-- GOOGLE FONT -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/bower_components/angular-loading-bar/build/loading-bar.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/angular/angular-csp.css">

  <!-- Basic Styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/font-awesome.min.css">

  <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-production.css">
  <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-skins.css">

  <!-- Stylus CSS -->
  <link href="/stylesheets/styles.css" rel="stylesheet">

  <% if (env === 'development') { %>

  <script src="//localhost:35729/livereload.js"></script>
  <script type="text/javascript">
    Error.stackTraceLimit = Infinity;
  </script>

  <% } %>
</head>
<body ng-app="app">

  <aside id="left-panel" ng-include="'templates/aside.html'"></aside>
  <div id="main" role="main" ng-controller="RibbonCtrl as ribbonCtrl">
    <div id="ribbon" ng-if="$route.current.ribbon" ng-include="'templates/ribbon.html'">

    </div>
    <!-- END RIBBON -->


    <!-- MAIN CONTENT -->
    <div ng-view autoscroll="true" class="main-content scrolling">
      Loading...
    </div>


  </div>



  <div id="fb-root"></div>

  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="/bower_components/angular-bindonce/bindonce.js"></script>
  <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <!-- Angular scripts -->
  <script src="/javascripts/scripts.js"></script>

  <% if (env === 'development') { %>

  <script>
    angular.module('app')

  </script>

  <% } else if (env === 'staging') { %>

  <script>
    angular.module('app')

  </script>


  <% } else { %>

  <script>
    angular.module('app')
  </script>

  <% } %>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>
