
<article class="col-sm-12 col-md-12 col-lg-12">

  <!-- new widget -->
  <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">

    <header>
      <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
      <h2>Session</h2>
      <div class="widget-toolbar hidden-mobile" ng-click="openModal(selection)">
        <span class="onoffswitch-title"><i class="fa fa-mobile-phone"></i> Send</span>
      </div>
    </header>

    <!-- widget div-->
    <div>
      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <div>
          <label>Title:</label>
          <input type="text" />
        </div>
      </div>
      <!-- end widget edit box -->

      <div class="widget-body no-padding">
        <!-- content goes here -->

        yo

        <!-- end content -->

      </div>

    </div>
    <!-- end widget div -->
  </div>
  <!-- end widget -->

</article>
