
<!-- NEW WIDGET START -->
<article class="col-sm-12 col-md-12 col-lg-6">

  <!-- Widget ID (each widget will need unique ID)-->
  <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1" data-widget-editbutton="false">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header>
      <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
      <h2>Session {{ session.sessionID }} </h2>

    </header>

    <!-- widget div-->
    <div>

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <!-- end widget edit box -->

      <!-- widget content -->
      <div class="widget-body">

        <h3 style="margin: 0;">Device ID: <span style="font-weight:100;">{{ session.deviceID }}</span></h3>
        <h3 style="margin: 0;">Device Type: <span style="font-weight:100;">{{ session.deviceType }}</span></h3>
        <h3 style="margin: 0;">Device OS: <span style="font-weight:100;">{{ session.deviceOS }}</span></h3>
        <h3 style="margin: 0;">City: <span style="font-weight:100;">{{ session.city }}</span></h3>
        <h3 style="margin: 0;">Country: <span style="font-weight:100;">{{ session.country }}</span></h3>
        <h3 style="margin-top: 0;">Session Date: <span style="font-weight:100;">{{ session.date }}</span></h3>

        <div class="tree smart-form">
          <ul>
            <li ng-repeat="parent in session.interactionsTree track by $index">
              <span><i class="fa fa-lg fa-mobile"></i> {{ parent }}</span>
              <ul>
                <li ng-repeat="interaction in session.interactions | slice:$index:interaction.$parent.$index | filter:{page:parent}">
                  <span ng-show="interaction.object === 'UIView'">
                    <i class="fa fa-lg fa-clock-o"></i>
                    At <b>{{ interaction.time }}</b> <small>seconds</small> the user <b>{{ interaction.type }}</b> <b>{{ parent }}
</b>                  </span>

                  <span ng-show="interaction.object === 'UIButton'">
                    <i class="fa fa-lg fa-clock-o"></i>
                    At <b>{{ interaction.time }}</b> <small>seconds</small> the user <b>{{ interaction.type }}</b> <b>{{ parent }} </b><b>{{ interaction.name }}</b>
                  </span>
                  <span ng-show="interaction.object === 'UIScrollView'">
                    <i class="fa fa-lg fa-clock-o"></i>
                    At <b>{{ interaction.time }}</b> <small>seconds</small> the user <b>{{ interaction.type }}</b> <b>{{ parent }}
</b>                  </span>
<!--
                  <ul>
                    <li style="display:none">
                      <span> <label class="checkbox inline-block">
                          <input type="checkbox" name="checkbox-inline">
                          <i></i>Michael.Jackson</label> </span>
                    </li>
                    <li style="display:none">
                      <span> <label class="checkbox inline-block">
                          <input type="checkbox" checked="checked" name="checkbox-inline">
                          <i></i>Sunny.Ahmed</label> </span>
                    </li>
                    <li style="display:none">
                      <span> <label class="checkbox inline-block">
                          <input type="checkbox" checked="checked" name="checkbox-inline">
                          <i></i>Jackie.Chan</label> </span>
                    </li>
                  </ul>
-->
                </li>
<!--
                <li>
                  <span><i class="fa fa-lg fa-minus-circle"></i> Child</span>
                  <ul>
                    <li>
                      <span><i class="icon-leaf"></i> Grand Child</span>
                    </li>
                    <li>
                      <span><i class="icon-leaf"></i> Grand Child</span>
                    </li>
                    <li>
                      <span><i class="fa fa-lg fa-plus-circle"></i> Grand Child</span>
                      <ul>
                        <li style="display:none">
                          <span><i class="fa fa-lg fa-plus-circle"></i> Great Grand Child</span>
                          <ul>
                            <li style="display:none">
                              <span><i class="icon-leaf"></i> Great great Grand Child</span>
                            </li>
                            <li style="display:none">
                              <span><i class="icon-leaf"></i> Great great Grand Child</span>
                            </li>
                          </ul>
                        </li>
                        <li style="display:none">
                          <span><i class="icon-leaf"></i> Great Grand Child</span>
                        </li>
                        <li style="display:none">
                          <span><i class="icon-leaf"></i> Great Grand Child</span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
-->
              </ul>
            </li>
          </ul>
        </div>

      </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->

  </div>
    <!-- end widget -->

</article>
<!-- WIDGET END -->

